<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= tittle %>
    </title>
    <%- include('partials/head.html') %>
</head>

<body>
    <%- include('partials/nav.html') %>

    <h1>HOLA <%= 5 + 5 %>
    </h1>

    <pre><%- data[0].name %></pre>
    <div class="container" id="TESTTEST">
        <div class="row mt-5">
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thread>
                        <tr>
                            <th>id</th>
                            <th>nombre</th>
                            <th>apellido</th>
                            <th>rut</th>
                            <th>correo</th>
                            <th>contraseña</th>
                            <th>tipo_permiso</th>
                        </tr>
                    </thread>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>


    </div>
    
    
</body>

<footer>
    <%- include('partials/footer.html') %>
</footer>

</html>