@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.TESTTEST {
    background-color: black;
}

#logo {
    width: 300px;
    height: 110px;
    margin-right: 4%;
}

body {
    background-color: #ffffff;
}

footer {
    padding-top: 100px;
}

.navbar-brand {
    margin-right: 4%;
}

.navbar-options {
    margin-left: 4%;
}

.navbar {
    background-color:#ffffff;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    color: #000000;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(97, 11, 30);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: black;
}

.searchbar {
    margin-top: 17%;
    margin-left: 303%;
}

.dropdown-menu {
    background: #ffffff !important; 
}

.dropdown-item {
    color: rgb(97, 11, 30);
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.637);
}

.dropdown-item:active {
    background-color: #12122B;
}

#tab-busqueda a {
    font-family: 'Noto Sans JP', sans-serif;
    color: #b8b6b4;
    text-transform: capitalize;
    font-size: 14px;
    margin-top: 30px;
}

.titulo {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: #6a0909;
    text-transform: uppercase;
    padding-bottom: 4px;
    letter-spacing: 2px;
}

.store-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: #b8b6b4;
    text-transform: uppercase;
    text-align: left;
}

.post-slider {
    padding: 30px 0px 100px;
}

.mainpage .carousel-indicators {
    bottom: -70px;
}

.mainpage .destacado-titulo {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    color: #60081B;
    padding-top: 15px;
    display: inline-block;
}


.mainpage .carousel {
    background-color:rgba(0, 0, 0, 0.055);
}

.mainpage p {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: capitalize;
    font-size: 15px;
    color: #000000;
}

.mainpage .destacado-tag {
    margin-top: 30%;
}

.mainpage .destacado-info {
    margin-left: 20px;
    margin-bottom: 10px;
}

.pricebadge {
    margin-top: 16%;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card {
    background-color:#ffffff;
    border-color: #000000;
    border-width: 5px;
}

.album p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    color: #b8b6b4;
}

.button-text {
    font-size: 12px;
    color: green;
    text-decoration-color: white;
    text-decoration: solid;
}

.album img {
    width: 340px;
    height: 159px;
}

#badge-price {
    color: green;
    
}

.album a:hover {
    color: white;
    text-decoration-line: none;
}

/*PAGINA DETALLE*/
#gamedetails {
    background-color: rgba(0, 0, 0, 0.38);
    padding-bottom: 10px;
    padding-top: 10px;
}

#gamecarousel .carousel-item .img-fluid {
    padding-top: 60px;
    margin-bottom: 50px;
}

.carousel-control-prev-icon {
    background-color: rgb(70, 70, 70);
    border-radius: 100px;
    height: 50px;
}

.carousel-control-next-icon {
    background-color: rgb(70, 70, 70);
    border-radius: 100px;
    height: 50px;
}
.gamepage .carousel-indicators {
    position: relative;
    bottom: 30px;
}

.gamepage a {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    color: #b8b6b4;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.gamepage p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    color: #b8b6b4;
    padding-top: 10px;
}

.gamepage .badge {
    font-size: 10px;
}

.gamepage .gameinfo-title {
    font-family: 'Noto Sans JP', sans-serif;
    color:#556772;
    text-transform: uppercase;
    font-size: 11px;
    padding-right: 5px;
}

.buygame {
    margin-bottom: 5%;
}

.buygame .list-group-item{
    background-color:rgba(0, 0, 0, 0);
}

.buygame h3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    color: #b8b6b4;
}

.buygame .btn {
    margin-bottom: 2px;
}

/*PANEL ADMIN*/
.paneladmin .btn-group {
    display: flex;
}

#btn-agregar {
    display: inline-flex;
    margin-bottom: 30px;
    margin-left: 2px;
}

/* ADDGAME */
.addgame h1{
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    color: #b8b6b4;
    text-transform: uppercase;
    text-align: left;
}

.addgame{
    background-color: #12122b62;
    margin: auto;
    width: 60%;
    padding-top: 3px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: #b8b6b4;
    text-transform: uppercase;
    text-align: left;
}



/*CONTACTO*/
.contacto label {
    font-family: 'Noto Sans JP', sans-serif;
    color: #b8b6b4;
}

.contacto h4 {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    color: #b8b6b4;
    text-align: center;
}

.contacto .container {
    background-color: rgba(0, 0, 0, 0.38);
}

.formulario h4 {
    text-align: left;
    padding-bottom: 5px;
}

.jumbotron-heading {
    color: #b8b6b4;
}

/*REGISTRO*/
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .mb-4 {
    margin-bottom: 1.5rem !important;
}

.form-signin .form-control {
    padding: 10px;
}

.form-signin h1 {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    color: #b8b6b4;
    text-align: center;
    padding-top: 40%;
    padding-bottom: 5%;
}

.form-signin p {
    color: white;
    font-size: 13px;
}

#checkbox-text {
    color: #b8b6b4;
}

.form-signin input {
    background-color:#32353C;
    border: 1px solid #26282D;
    color: #E9E9E9;
}

body.login {
	color: #000000;
	/*background: radial-gradient(30% 40% at 40% 30%, rgba(33, 36, 41, .5) 0%, rgba(33, 36, 41, 0) 100%) no-repeat, url( 'https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/acct_creation_bg.jpg' ) -45vw 0 no-repeat, #212429;
	*/
    font-family: "Motiva Sans", Sans-serif;
	font-weight: normal;
}

.login-title {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 34px;
    color:#60081B;
    margin-bottom:30px;
    margin-top: 50px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
}

.login .btn-dark {
    background: #60081B;
    color: white;
}

.login .btn-primary {
    background: #60081B;
}

.login .form-control, .login select {
	max-width: 300px;
	background: #60081B;
	border-radius: 3px;
	color: #E9E9E9;
	padding: 8px 6px;
	display: block;
	box-shadow: none;
	width: 100%;
	transition: border ease-in-out .5s;
	border: 1px solid #26282D;
	outline: none;
	font-family: "Motiva Sans", Sans-serif;
	font-weight: normal;
}

.joinsteam {
    padding-top: 35%;
}

.login .signup-join {
	max-width: 60%;
	text-align: center;
	font-size: 14px;
    margin-top: 10%;
}

.signup-join-image {
    width: 320px;
}

.joinsteam a {
    margin-left: 7%;
}

/*googlemap*/

#mapa {
    height: 200px;
    width: 300px;
}

/*COMUNIDAD*/

.pokecarta.col-md-4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pokebotones {
    margin-top: 20px;
}

.pokeimagen.card-img-top {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 50%;
    background-color: white;
    background-image: url("imagenes/pokefondo.png");
    background-repeat: no-repeat;
    background-size: 280px;
}

.pokenombre.card-title {
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
}

/*COLOR TIPO DE POKEMON*/
.poketipo {
    font-size: 16px;
    text-align: center;
}

.normal.badge.badge-danger {
    color: white;
    background-color: #A8A77A;
}
/*FUEGO*/
.fire.badge.badge-danger {
    color: white;
    background-color: #EE8130;
}

.pokecarta.fire .pokeimagen.card-img-top {
    background-image: url("imagenes/pokefondo_fuego.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
}

/*AGUA*/
.water.badge.badge-danger {
    color: white;
    background-color: #6390F0;
}

.pokecarta.water .pokeimagen.card-img-top {
    background-image: url("imagenes/pokefondo_agua.jpg");
    background-size: 180px;
    background-repeat: no-repeat;
}

/**/
.electric.badge.badge-danger {
    color: white;
    background-color: #F7D02C;
}

.grass.badge.badge-danger {
    color: white;
    background-color: #7AC74C;
}

.ice.badge.badge-danger {
    color: white;
    background-color: #96D9D6;
}

.fighting.badge.badge-danger {
    color: white;
    background-color: #C22E28;
}

.poison.badge.badge-danger {
    color: white;
    background-color: #A33EA1;
}

.ground.badge.badge-danger {
    color: white;
    background-color: #E2BF65;
}

.flying.badge.badge-danger {
    color: white;
    background-color: #A98FF3;
}

.psychic.badge.badge-danger {
    color: white;
    background-color: #F95587;
}

.bug.badge.badge-danger {
    color: white;
    background-color: #A6B91A;
}

.rock.badge.badge-danger {
    color: white;
    background-color: #B6A136;
}

.ghost.badge.badge-danger {
    color: white;
    background-color: #735797;
}

.dragon.badge.badge-danger {
    color: white;
    background-color: #6F35FC;
}

.dark.badge.badge-danger {
    color: white;
    background-color: #705746;
}

.steel.badge.badge-danger {
    color: white;
    background-color: #B7B7CE;
}

.fairy.badge.badge-danger {
    color: white;
    background-color: #D685AD;
}

/*PARSLEY CSS*/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

/*VALIDADOR RUT*/
#msgerror{
	font-size:0.9rem;
    line-height: 0.9rem;
    color: #b94A48;
}

