<!--NAVEGACION-->
<nav class="navbar py-4 navbar-expand-md navbar-dark">
    <div class="navbar-logo container">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img id="logo" src="{% static 'core/img/notSTEAM.svg' %}" alt="steamico">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-options" class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="navbar_text nav-link" href="{% url 'index' %}">Tienda <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="navbar_text nav-link" href="comunidad.html">Comunidad</a>
            </li>
            <li class="nav-item">
            <a class="navbar_text nav-link" href="{% url 'contacto' %}">Contacto</a>
            </li>
            
            <!--{% if user.is_authenticated %}-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!--{{ user.username }}-->
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                        <a class="dropdown-item" href="{% url 'paneladmin' %}">Panel Administrador</a>
                    </div>
                </li>
            <!--{% else %}-->
                <li class="nav-item">
                    <a class="navbar_text nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
            <!--{% endif %}-->
        </ul>
        </div>
    </div>
    </div>
</nav>